/* Google font imports */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* color scheme */
:root {
  --light: #eefbf9;
  --main: #93e1d8;
  --accent: #ffa69e;
  --dark: #071013;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--light);
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 4px;
  color: var(--dark);
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 28px;
  font-weight: 400;
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  font-weight: 200;
}

a {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  color: var(--dark);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--accent);
}

a:active {
  color: var(--bright);
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* styles button */
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  border-radius: 1px;
  /* button width, border, and styling*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 3s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: var(--accent);
  color: var(--light);
  /* reduces the opacity of the button */
  opacity: 0.8;
  transition: 3s opacity;
}

.button:visited {
  color: var(--light);
}
.button__secondary {
  background-color: var(--accent);
  color: black;
}

.logo {
  max-width: 50px;
}

.profile {
  max-width: 800px;
  height: 400px;
  margin: 40px auto;
  padding: 40px 140px;
  background-color: var(--main);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1%;
}

.profile__portrait {
  max-width: 250px;
  margin-right: 0px;
  border-radius: 50%;
  float: left;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  align-items: center;
}

.page-header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--main);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.page-header__item:last-child {
  flex-grow: 2;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

span {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark);
}

.about_me {
  margin: 40px auto;
  max-width: 700px;
  padding: 20px;
  background-color: var(--light);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

.about_header {
  display: flex;
  justify-content: center;
}

.resume {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.work_header {
  display: flex;
  justify-content: center;
}

.work_img {
  width: 400px; 
  margin: 20px;
}

.contact_me {
  margin: 20px auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: var(--light);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
}

.contact_me a {
  color: var(--dark);
}

.contact_me a:hover {
  color: var(--main);
}

form {
  overflow: hidden;
  width: 300px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.contact-form {
  font-size: 12px;
  padding: 0 10px 20px 10px;
}

.contact-form label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.contact-form input {
  background: #fff;
  border: 1px solid var(--accent);
  padding: 6px;
  width: 100%;
}

.contact-action {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contact-action label {
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}

textarea {
  width: 100%;
  resize: none;
}

/* About me page skills table */
table {
  margin: 0 auto;
  width: 75%;
  border: 1px solid var(--dark);
  background-color: lightgray;
  color: var(--dark);
}

thead {
  background-color: var(--main);
  color: var(--light);
  height: 30px;
}

tbody {
  background-color: var(--light);
  text-align: center;
  height: 100px;
}

tr:hover {
  background-color: var(--bright);
  color: var(--light);
}

.hobbies {
  list-style: none;
  text-align: center;
}

.skills_header {
  text-align: center;
}

.about__grid {
  text-align: center;
}

.about__grid img {
  object-fit: cover;
  width: 30%;
  max-height: 100%;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.footbg {
  position: absolute;
  width: 200px;
  opacity: 10%;
}

/* Work page project grids */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 10px 10px;
}

.grid__item {
  background-color: var(--light);
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Media query to adjust work page grids for small screens */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 35px;
  }
}
/*END Work page media queries */

/*media query to adjust home page profile sizing for small screens */
@media all and (min-width: 200px) and (max-width: 500px) {
  .profile {
    margin: 20px;
    text-align: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (min-width: 200px) and (max-width: 500px) {
  .work_img {
    width: 200px;
  }
}

/* keyframe animations for about page svg skyline graphic */
@keyframes color-change {
  from {
    fill: var(--main);
  }
  to {
    fill: var(--dark);
  }
}

@keyframes color-change_2 {
  from {
    fill: var(--dark);
  }
  to {
    fill: var(--main);
  }
}

.back {
  animation-duration: 6s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.front {
  animation-duration: 6s;
  animation-name: color-change_2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
/*END about page graphic animations */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
