/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Colors used

Background Color (Snow): #f6f5f6
Primary Color (Navy Blue): #263245
Secondary Color (Mauve): #837b8e
Highlight Color (Sky): #879fc0
Lowlight Color (Plum): #281f29
 */

 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    background-color: #f6f5f6;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    text-decoration: none;
    font-variant: none;
    color: #281f29;
  }

  h2 {
    font-size: 24px;
    font-weight: 200;
  }

  h3 {
    font-size: 18px;
    font-weight: 200;
  }

  a {
      color: #263245;
      text-decoration: none;
  }

  a:visited {
      /* visited link */
      color: #87728c;
  }

  a:hover {
    /* No underlining when hovering over a link */
    color: #879fc0;
    text-decoration: none;
  }

  a:focus {
    /* No underlining when hovering over a link */
    color: #879fc0;
    text-decoration: none;
  }

  a:active {
      /* selected link */
      color: #281f29;
  }

  .button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles button */
    background-color: #263245;
    color: #f6f5f6;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    /* button width, border, and styling*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.6s opacity;
    -o-transition: 0.6s opacity;
    transition: 0.6s opacity;
  }

  button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles button */
    background-color: #263245;
    color: #f6f5f6;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    /* button width, border, and styling*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.6s opacity;
    -o-transition: 0.6s opacity;
    transition: 0.6s opacity;
  }

  button:hover {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    background-color: #87728c;
    color: #f6f5f6;
    /* reduces the opacity of the button */
    opacity: 0.8;
  }

  button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    background-color: #87728c;
    color: #f6f5f6;
    /* reduces the opacity of the button */
    opacity: 0.8;
  }

  .button:hover {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    background-color: #87728c;
    color: #f6f5f6;
    /* reduces the opacity of the button */
    opacity: 0.8;
  }

  .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    background-color: #87728c;
    color: #f6f5f6;
    /* reduces the opacity of the button */
    opacity: 0.8;
  }

  .button:visited {
    color: #f6f5f6;
  }
  .button__secondary {
    background-color: #879fc0;
    color: black;
  }

  .profile {
    max-width: 700px;
    margin: 40px auto;
  }

  .profile__portrait {
    float: left;
    max-width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }

  .page-footer {
    clear:both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    text-align: center;
  }

  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
  }

  .page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    max-height: 33px;
  }

  .page-header__item:last-child {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    text-align: right;
  }

  .navigation-list {
    list-style-type: none;
  }

  .navigation-list li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
  }

  nav a
  {
      text-decoration: none;
      font: 20px;
      margin: 0px 0px;
      padding: 0px 0px;
      position: relative;
      z-index: 0;
      cursor: pointer;
  }

    nav.page-header__item a:before, nav.page-header__item a:after
  {
      position: relative;
      opacity: 0;
      width: 0%;
      height: 1px;
      content: ' | ';
  }

  nav.page-header__item a:before
  {
      left: 0px;
      top: 0px;
  }

  nav.page-header__item a:after
  {
      right: 0px;
      bottom: 0px;
  }

  nav.page-header__item a:hover:before, nav.page-header__item a:hover:after
  {
      opacity: 1;
      width: 100%;
  }


  span {
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    color: #281f29
  }

  .about_me {
    margin: 40px auto;
    max-width: 700px;
  }

  .resume {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
  }

 .contact_me {
    margin: 0 auto;
    max-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .contact_form {
    margin-top: 30px;
  }

  table {
    margin: 0 auto;
    width: 75%;
    border: 1px solid #281f29;
    background-color: lightgray;
    color: #263245;
  }

  thead {
    background-color: #879fc0;
    color: #f6f5f6;
    height: 30px;
  }

  tbody {
    background-color: #f6f5f6;
    text-align: center;
    height: 100px;
  }

  tr:hover {
    background-color: #87728c;
    color: #f6f5f6;
  }

  .hobbies {
    list-style: none;
    text-align: center;
  }

  input {
    width: 75%;
    padding: 10px 15px;
    margin: 12px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #281f29;
  }

  input:focus {
    border: 1px solid #87728c;
    background-color: lightgray;
  }

  input[type=button] {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #263245;
    color: #f6f5f6;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.6s opacity;
    -o-transition: 0.6s opacity;
    transition: 0.6s opacity;
    width: 110px;
  }

  input[type=submit] {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #263245;
    color: #f6f5f6;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.6s opacity;
    -o-transition: 0.6s opacity;
    transition: 0.6s opacity;
    width: 110px;
  }

  textarea {
    width: 88%;
    height: 90px;
    padding: 10px 15px;
    margin: 12px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #281f29;
    resize: none;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item {
    background-color: lightgray;
  }

  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }

  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width:750px){
    /* shared code */
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 35px;
    }
  }
  @-webkit-keyframes color-change {
    from {
      fill: #263245;
    }
    to {
      fill: #879fc0;
    }
  }
  @keyframes color-change {
    from {
      fill: #263245;
    }
    to {
      fill: #879fc0;
    }
  }

  @-webkit-keyframes color-change_2 {
    from {
      fill: #879fc0;
    }
    to {
      fill: #263245;
    }
  }

  @keyframes color-change_2 {
    from {
      fill: #879fc0;
    }
    to {
      fill: #263245;
    }
  }

 .back {
   -webkit-animation-duration: 6s;
           animation-duration: 6s;
   -webkit-animation-name: color-change;
           animation-name: color-change;
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;
           animation-direction: alternate;
   -webkit-animation-timing-function: linear;
           animation-timing-function: linear;
 }

 .front {
   -webkit-animation-duration: 6s;
           animation-duration: 6s;
   -webkit-animation-name: color-change_2;
           animation-name: color-change_2;
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;
           animation-direction: alternate;
   -webkit-animation-timing-function: linear;
           animation-timing-function: linear;
 }
