/*
Colors used

Background Color (Snow): #f6f5f6
Primary Color (Navy Blue): #263245
Secondary Color (Mauve): #837b8e
Highlight Color (Sky): #879fc0
Lowlight Color (Plum): #281f29
 */


:root {
  --navy:#263245;
  --mauve: #87728c;
  --sky: #879fc0;
  --plum: #281f29;
  --snow: #f6f5f6;
}

* {
  box-sizing: border-box;
}

body {
    background-color: var(--snow);
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    text-decoration: none;
    font-variant: none;
    color: var(--plum);
  }

  h2 {
    font-size: 24px;
    font-weight: 200;
  }

  h3 {
    font-size: 18px;
    font-weight: 200;
  }

  a {
      color: var(--navy);
      text-decoration: none;
  }

  a:visited {
      /* visited link */
      color: var(--mauve);
  }

  a:hover, a:focus {
    /* No underlining when hovering over a link */
    color: var(--sky);
    text-decoration: none;
  }

  a:active {
      /* selected link */
      color: var(--plum);
  }

  .button, button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles button */
    background-color: var(--navy);
    color: var(--snow);
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    /* button width, border, and styling*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.6s opacity;
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    background-color: var(--mauve);
    color: var(--snow);
    /* reduces the opacity of the button */
    opacity: 0.8;
  }

  .button:visited {
    color: var(--snow);
  }
  .button__secondary {
    background-color: var(--sky);
    color: black;
  }

  .profile {
    max-width: 700px;
    margin: 40px auto;
  }

  .profile__portrait {
    float: left;
    max-width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }

  .page-footer {
    clear:both;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    text-align: center;
  }

  .page-header {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
  }

  .page-header__item {
    flex: 0 1 200px;
    max-height: 33px;
  }

  .page-header__item:last-child {
    flex-grow: 2;
    text-align: right;
  }

  .navigation-list {
    list-style-type: none;
  }

  .navigation-list li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
  }

  nav a
  {
      text-decoration: none;
      font: 20px;
      margin: 0px 0px;
      padding: 0px 0px;
      position: relative;
      z-index: 0;
      cursor: pointer;
  }

    nav.page-header__item a:before, nav.page-header__item a:after
  {
      position: relative;
      opacity: 0;
      width: 0%;
      height: 1px;
      content: ' | ';
  }

  nav.page-header__item a:before
  {
      left: 0px;
      top: 0px;
  }

  nav.page-header__item a:after
  {
      right: 0px;
      bottom: 0px;
  }

  nav.page-header__item a:hover:before, nav.page-header__item a:hover:after
  {
      opacity: 1;
      width: 100%;
  }


  span {
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    color: var(--plum)
  }

  .about_me {
    margin: 40px auto;
    max-width: 700px;
  }

  .resume {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
  }

 .contact_me {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact_form {
    margin-top: 30px;
  }

  table {
    margin: 0 auto;
    width: 75%;
    border: 1px solid var(--plum);
    background-color: lightgray;
    color: var(--navy);
  }

  thead {
    background-color: var(--sky);
    color: var(--snow);
    height: 30px;
  }

  tbody {
    background-color: var(--snow);
    text-align: center;
    height: 100px;
  }

  tr:hover {
    background-color: var(--mauve);
    color: var(--snow);
  }

  .hobbies {
    list-style: none;
    text-align: center;
  }

  input {
    width: 75%;
    padding: 10px 15px;
    margin: 12px 20px;
    box-sizing: border-box;
    border: 1px solid var(--plum);
  }

  input:focus {
    border: 1px solid var(--mauve);
    background-color: lightgray;
  }

  input[type=button], input[type=submit] {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--navy);
    color: var(--snow);
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.6s opacity;
    width: 120px;
  }

  textarea {
    width: 88%;
    height: 90px;
    padding: 10px 15px;
    margin: 12px 20px;
    box-sizing: border-box;
    border: 1px solid var(--plum);
    resize: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item {
    background-color: lightgray;
  }

  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width:750px){
    /* shared code */
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 35px;
    }
  }
  @keyframes color-change {
    from {
      fill: #263245;
    }
    to {
      fill: #879fc0;
    }
  }

  @keyframes color-change_2 {
    from {
      fill: #879fc0;
    }
    to {
      fill: #263245;
    }
  }

 .back {
   animation-duration: 6s;
   animation-name: color-change;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: linear;
 }

 .front {
   animation-duration: 6s;
   animation-name: color-change_2;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: linear;
 }
